.container {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  justify-content: space-between;
}

.card {
  position: relative;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
}
