.search-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
}

.card {
  position: relative;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  max-height: 160px;
}

.input-box {
  text-align: center;
}

.input-box input {
  height: 30px;
  width: 200px;
}
.input-box button {
  height: 35px;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 768px) {
}
