.header {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid rgb(126, 126, 126);
  padding: 10px;
}

.header a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(142, 5, 160);
}

.header li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar a {
  font-size: 24px;
}
